spring:
  config:
    activate:
      on-profile: prod
  jpa:
    hibernate:
      ddl-auto: create # DB 어떻게 실행할지 (none, create ,update ..)
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        default_batch_fetch_size: 100
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
    defer-datasource-initialization: true

  logging.level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace